<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="wrapper" style="width: 1080px; margin: 0 auto">
    <nav class="nav-extended teal darken-1 z-depth-3">
        <div class="nav-wrapper">
            <a href="index.htm" class="brand-logo">LOGO</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html"> <i class="large material-icons" style="font-size: 3em; text-align: center;">account_box</i>Личный кабинет</a></li>
                <li><a href="basket.html"> <i class="large material-icons" style="font-size: 3em; text-align: center;">shopping_cart</i> Корзина</a></li>
                <li><a href="collapsible.html"><i class="large material-icons" style="font-size: 3em; text-align: center;">transfer_within_a_station</i>Выйти</a></li>
            </ul>
            <div class="phonewrap">
                <div class="phone"><a href="tel:+74951234567">+7 (495) 123-45-67</a></div>
                <div class="contacts"><a href="/contacts">Контакты</a></div>
            </div>
        </div>
        <div class="nav-content">
            <ul class="tabs tabs-transparent">
                <li class="tab"><a class="active" href="#test1">Визитки</a></li>
                <li class="tab"><a class="active" href="#test2">Буклеты</a></li>
                <li class="tab"><a class="active" href="#test3">Цифровая печать</a></li>
            </ul>
        </div>
    </nav>

    <hr>

<div class="basket-wrapper">
    <div class="basket-content">
        <h3>Ваша корзина пуста</h3>
        <br>
        Оформленные заказы можно посмотреть и отредактировать в <a href="#">личном кабинете</a>
    </div>
</div>

    <hr>

    <div class="subfooter teal darken-2 z-depth-3">
        <div class="icons" >
            <div class="svg">
            <svg class="bi bi-brightness-high" width="5em" height="5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 11a3 3 0 100-6 3 3 0 000 6zm0 1a4 4 0 100-8 4 4 0 000 8zM8 0a.5.5 0 01.5.5v2a.5.5 0 01-1 0v-2A.5.5 0 018 0zm0 13a.5.5 0 01.5.5v2a.5.5 0 01-1 0v-2A.5.5 0 018 13zm8-5a.5.5 0 01-.5.5h-2a.5.5 0 010-1h2a.5.5 0 01.5.5zM3 8a.5.5 0 01-.5.5h-2a.5.5 0 010-1h2A.5.5 0 013 8zm10.657-5.657a.5.5 0 010 .707l-1.414 1.415a.5.5 0 11-.707-.708l1.414-1.414a.5.5 0 01.707 0zm-9.193 9.193a.5.5 0 010 .707L3.05 13.657a.5.5 0 01-.707-.707l1.414-1.414a.5.5 0 01.707 0zm9.193 2.121a.5.5 0 01-.707 0l-1.414-1.414a.5.5 0 01.707-.707l1.414 1.414a.5.5 0 010 .707zM4.464 4.465a.5.5 0 01-.707 0L2.343 3.05a.5.5 0 11.707-.707l1.414 1.414a.5.5 0 010 .708z" clip-rule="evenodd"/>
            </svg>
            </div>
            20 лет <br> безупречной работы
        </div>

        <div class="icons">
           <div class="svg">
            <svg class="bi bi-file-text" width="5em" height="5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M4 1h8a2 2 0 012 2v10a2 2 0 01-2 2H4a2 2 0 01-2-2V3a2 2 0 012-2zm0 1a1 1 0 00-1 1v10a1 1 0 001 1h8a1 1 0 001-1V3a1 1 0 00-1-1H4z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M4.5 10.5A.5.5 0 015 10h3a.5.5 0 010 1H5a.5.5 0 01-.5-.5zm0-2A.5.5 0 015 8h6a.5.5 0 010 1H5a.5.5 0 01-.5-.5zm0-2A.5.5 0 015 6h6a.5.5 0 010 1H5a.5.5 0 01-.5-.5zm0-2A.5.5 0 015 4h6a.5.5 0 010 1H5a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
            </svg>
           </div>
            Приступаем к печати <br> без предоплаты
        </div>

        <div class="icons">
            <div class="svg">
            <svg class="bi bi-clock" width="5em" height="5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 108 1a7 7 0 000 14zm8-7A8 8 0 110 8a8 8 0 0116 0z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M7.5 3a.5.5 0 01.5.5v5.21l3.248 1.856a.5.5 0 01-.496.868l-3.5-2A.5.5 0 017 9V3.5a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
            </svg>
            </div>
            Заказывайте в <br> любое время дня и ночи
        </div>

        <div class="icons">
            <div class="svg">
            <svg class="bi bi-pencil-square" width="5em" height="5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z" clip-rule="evenodd"/>
            </svg>
            </div>
            Контроль <br> качества макетов
        </div>

        <div class="icons">
           <div class="svg">
            <svg class="bi bi-map" width="5em" height="5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M15.817.613A.5.5 0 0116 1v13a.5.5 0 01-.402.49l-5 1a.502.502 0 01-.196 0L5.5 14.51l-4.902.98A.5.5 0 010 15V2a.5.5 0 01.402-.49l5-1a.5.5 0 01.196 0l4.902.98 4.902-.98a.5.5 0 01.415.103zM10 2.41l-4-.8v11.98l4 .8V2.41zm1 11.98l4-.8V1.61l-4 .8v11.98zm-6-.8V1.61l-4 .8v11.98l4-.8z" clip-rule="evenodd"/>
            </svg>
           </div>
            Работаем <br> по всей России
        </div>

        <div class="icons">
            <div class="svg">
            <svg class="bi bi-eye" width="5em" height="5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 001.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0014.828 8a13.133 13.133 0 00-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 001.172 8z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M8 5.5a2.5 2.5 0 100 5 2.5 2.5 0 000-5zM4.5 8a3.5 3.5 0 117 0 3.5 3.5 0 01-7 0z" clip-rule="evenodd"/>
            </svg>
            </div>
            Отслеживайте статус заказа <br> в личном кабинете
        </div>

    </div>

    <footer class="page-footer teal darken-3 z-depth-3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text"><a href="tel:+74951234567" style="color: aliceblue">+7 (495) 123-45-67</a></h5>
                    <p class="grey-text text-lighten-4">ООО "Группа М быстрый тираж"</p>
                    <p class="grey-text text-lighten-4">Москва, ул. летчика Бабушкина д.32 к.3</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">О компании</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Оплата и доставка</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Контакты</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright teal darken-4">
            <div class="container">
                © 2020 Все права защищены
            </div>
        </div>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>


</html>